.container-0 {
  height: 200px;
  width: 200px;
  padding: 8%;
  background-image: url(/img/royal.jpg);
  box-shadow: 90px 90px 200px 100px rgba(238, 10, 10, 0.275);
  border-radius: 50%;
  border: 2px dotted rgb(176, 172, 168);
  padding-left: 6%;
  margin-left: 5%;
  margin-right: 9%;
  margin-top: -16%;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.container-1 {
  height: 200px;
  width: 200px;
  opacity: 0.6px;
  margin-right: 80%;
  margin-top: 60%;
  margin-left: 30%;
  box-shadow: 35px 42px 12px rgba(2, 2, 2, 0.801);
  opacity: 100%;
  border-radius: 50%;
  border: 3px dotted rgba(142, 7, 7, 0.073);
  background-image: conic-gradient(
    rgba(174, 0, 249, 0.775) 5deg,
    rgba(0, 71, 225, 0.436) 103deg,
    rgba(70, 215, 3, 0.555) 10deg
  );
}
.container-2 {
  background-image: url(../img/royal.jpg);
  /* padding: 10%; */
  background-attachment: fixed;
  align-items: center;
  justify-content: flex-end;
  font-size: x-large;
  border: 3px dotted rgba(35, 33, 33, 0.933);
  margin-left: -1%;
  margin-top: 7%;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: ease-in-out;
  width: 400px;
  height: 400px;
  margin-bottom: 10%;
  box-shadow: 20px 30px 2px rgba(71, 68, 71, 0.736);
  animation-direction: alternate-reverse;
  border-radius: 50%;
  margin-left: 200%;

  margin-top: 90%;
}

.button-1 {
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* border-radius: 0% 10% 0% 90%; */
  cursor: pointer;
  background-color: #d88d0242;
  box-shadow: 85px 20px 40px 34px rgb(5, 5, 5);
  border: 3px dotted rgb(2, 123, 91);
  text-align: center;
  /* margin-left: 90%; */
  margin-bottom: -2%;
  font-size: 15px;
  color: #dbf20d;
  text-shadow: #000000 5px 5px 4px;
  text-align: center;
  margin-top: -70%;
  margin-left: 95%;
}

.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1fd31563;
  box-shadow: 40px 50px 22px 30px rgba(0, 0, 0, 0.664);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  color: rgb(247, 239, 0);
  position: relative;
  text-decoration-color: rgb(5, 93, 234);
  text-decoration-line: underline;
  text-shadow: #000000 4px 2px 2px;
  /* position: static; */
  border: 5px double rgba(152, 143, 143, 0.278);
  margin-left: 90%;
  margin-top: -40%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.4s;
}
.container :after {
  content: "";
  background: #01ef01;
  display: block;
  position: absolute;
  padding-top: 350%;
  padding-left: 350%;
  margin-left: -30px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.9s;
}

.container:active:after {
  padding: 0;
  margin: 0;
  opacity: 6;
  transition: 4s;
}

.button-3 {
  display: flex;
  background-color: #ae03a5f4;
  box-shadow: 55px 50px 12px rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  text-decoration: underline rgb(255, 0, 255);
  border: 3px dotted rgba(115, 0, 0, 0.534);
  text-shadow: #030303 19px 2px 2px;
  font-size: 15px;
  margin-left: 9%;
  margin-left: 90%;
  margin-top: -30%;
}
.button-4 {
  display: flex;
  background-color: #0124e8;
  color: rgb(255, 255, 255);
  box-shadow: 40px 15px 20px 2px rgba(13, 4, 14, 0.587);
  text-decoration: underline rgb(10, 0, 10);
  text-shadow: #0d0c0c 3px 9px 2px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 70%;
  margin-top: -20%;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  border: 3px double rgb(101, 1, 124);
}

.button-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04e5ad54;
  box-shadow: 40px 50px 22px 30px rgba(0, 0, 0, 0.664);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: rgb(0, 8, 247);
  position: relative;
  text-decoration-color: rgb(123, 234, 5);
  text-decoration-line: underline;
  text-shadow: #f8090961 3px 4px 9px;
  position: static;
  border: 3px rgb(140, 14, 14) dotted;
  margin-left: 300%;
  margin-top: -290%;
  /* -webkit-transition-duration: 0.8s;
  transition-duration: 0.2s; */
}
.button-1:hover {
  background-color: #3e2524e5;
}

.button-2:hover {
  background-color: #ba01db;
}

.button-3:hover {
  background-color: #2700d3;
}

.button-4:hover {
  background-color: #00fbd1;
}

.button-5:hover {
  background-color: #6e05ee;
}

.button:active {
  background-color: #dc7500;
  border-bottom: #9485c5;
}

.button-5:hover {
  content: icon;
  overflow-wrap: normal;
  color: rgb(175, 4, 254);
  background-color: #d3000094;
}

body {
  background-image: url(../img/royal.jpg);
  opacity: initial;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
}

div {
  height: 100px;
  width: 20px;
}

h1 {
  margin-top: -100px;
  margin-left: 90px;
  background-color: #ed0000;
  color: rgb(66, 19, 116);
  font-family: courier;
  font-size: 680%;
  text-decoration: double;
  text-decoration-line: underline;
  text-decoration-color: #140bbab7;
  text-shadow: 25px 5px 2px rgb(10, 0, 0);
  padding-top: 100%;
  padding: 70%;
}
/* the text ashria serv.. */
h2 {
  margin-left: 300px;
  color: rgb(255, 0, 0);
  font-family: courier;
  font-size: 270%;
  text-decoration-color: rgb(0, 52, 240);
  text-decoration: double;
  text-decoration-line: underline;
  background-color: #f3f3f3;
  padding: 33%;
  text-shadow: #000000 7px 5px 2px;
  padding-right: 50px;
  margin-top: 97%;
  text-justify: inter-cluster;
}

.footer {
  background-color: #2d68096d;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: rgb(0, 0, 0);
  box-shadow: rgb(149, 127, 2) 10px 15px 21px 40px;
  margin-bottom: 4%;
  margin-left: 3%;
  padding-top: 10%;
}

.footer-title {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.footer > ul > li {
  line-height: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
